@using ImageTextExtraction.Controllers
@using ImageTextExtraction.Models
@model FileUploadFormModel 


@{
    ViewData["Title"] = "Home Page";
    var output = ViewData["result"];
    var userDoc = ViewData["userDocument"];
}

<div class="text-center">
    <h1 class="display-4">Image Text Extraction Utility</h1>
    <h2>Simply upload your image below to get started...</h2>
</div>
<hr />

<form enctype="multipart/form-data" method="post">
    <dl>
        <dt>
            <label asp-for="@Model.FormFile"></label>
        </dt>
        <dd>
            <input asp-for="@Model.FormFile" type="file" id="fileBtn"/>
            
        </dd>
    </dl>
    <input asp-page-handler="UploadImage" type="submit" class="btn btn-dark" value="Upload" name="uploadImage" /> <p><b>This may take a few moments...</b></p>
 </form>

<hr />

@using (Html.BeginForm("DbCommitForm", "Home", FormMethod.Post))
{
    <p><label for="textTitle">Give the extraction a title: <input type="text" name="textTitle" id="text-title" value=""/></label></p>
    <textarea name="textBody" rows="10" cols="100" id="display-text">@output</textarea>
    <p><input type="submit" value="Commit to DB" name="commitDb" class="btn btn-dark" id="commitBtn"/></p>
}

<p><input type="submit" value="View Records" name="viewRecords" class="btn btn-dark" id="recordsBtn" onclick="location.href='@Url.Action("Records", "Home")'"></p>
    
<hr />

<div class="exportContainer">
    <label>Export Options:</label>
    <p><b>The text fields must contain data to export a document...</b></p>
    <p><input type="submit" value="Export to .pdf" id="exportPDF" class="btn btn-dark" onclick="location.href='@Url.Action("CreatePdf", "Home", new {output = @output})'"/></p>
    <p><input type="submit" value="Export to .txt" id="exportDOCX" class="btn btn-dark" onclick="location.href='@Url.Action("CreateTxt", "Home", new {output = @output})'"/></p>
</div>






