@using ImageTextExtraction.Controllers
@using ImageTextExtraction.Models
@model FileUploadFormModel 


@{
    ViewData["Title"] = "Home Page";
    var output = ViewData["result"];
}

<div class="text-center">
    <h1 class="display-4">Image Text Extraction Utility</h1>
    <h2>Simply upload your image below to get started...</h2>
</div>
<hr />

<form enctype="multipart/form-data" method="post">
    <dl>
        <dt>
            <label asp-for="@Model.FormFile"></label>
        </dt>
        <dd>
            <input asp-for="@Model.FormFile" type="file" class="button"/>
        </dd>
    </dl>
    <input asp-page-handler="Upload" class="button" type="submit" value="Upload" />
 </form>

<hr />



<textarea rows="10" cols="100" id="display-text">@output</textarea> 
<p></p>
<p><input type="submit" value="Export to PDF" id="exportPDF" class="button" onclick="location.href='@Url.Action("CreatePdf", "Home", new {output = @output})'"/></p>
<p><input type="submit" value="Export to .docx" id="exportDOCX" class="button" onclick="location.href='@Url.Action("CreateDocx", "Home", new {output = @output})'"/></p>





