@using ImageTextExtraction.Controllers
@using ImageTextExtraction.Models
@model FileUploadFormModel 



@{
    ViewData["Title"] = "Home Page";
    var output = ViewData["result"];
    var userDoc = ViewData["userDocument"];

    
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
   $(document).ready(function () {
       $("#commitBtn").click(function () {
           if($("#text-title").val() == '' && $("#display-text").val() == '') {
               alert("Text fields are empty!");
           }
           else if($("#text-title").val() != '' && $("#display-text").val() == '') {
               alert("No text has been extracted!");
           }
           else if($("#text-title").val() == '' && $("#display-text").val() != '') {
               alert("Please give the text a title");
           }
           else {
               alert("Record committed...");

               $.ajax(
               {
                   type: "POST",
                   url: "Home/DbCommit",
                   data: {
                       Title: $("#text-title").val(),
                       Body: $("#display-text").val()
                   }
               });
           }
       });
   });
</script>

<div class="text-center">
    <h1 class="display-4">Image Text Extraction Utility</h1>
    <h2>Simply upload your image below to get started...</h2>
</div>
<hr />

<form enctype="multipart/form-data" method="post">
    <dl>
        <dt>
            <label asp-for="@Model.FormFile"></label>
        </dt>
        <dd>
            <input asp-for="@Model.FormFile" type="file" class="button"/>
        </dd>
    </dl>
    <input asp-page-handler="UploadImage" class="button" type="submit" value="Upload" name="uploadImage" /> <p><b>Depending on the amount of text, this may take a few moments...</b></p>
 </form>

<hr />

<p><label for="textTitle">Give the extraction a title: <input type="text" name="textTitle" id="text-title" value=""/></label></p>
 <textarea name="textBody" rows="10" cols="100" id="display-text">@output</textarea>
<p><input type="submit" value="Commit to DB" name="commitDb" class="button" id="commitBtn"/></p>

<p><input type="submit" value="View Records" name="viewRecords" id="recordsBtn" onclick="location.href='@Url.Action("Records", "Home")'"></p>

<hr />

<div class="exportContainer">
    <label>Export Options:</label>
    <p></p>
    <p><input type="submit" value="Export to .pdf" id="exportPDF" class="button" onclick="location.href='@Url.Action("CreatePdf", "Home", new {output = @output})'"/></p>
    <p><input type="submit" value="Export to .txt" id="exportDOCX" class="button" onclick="location.href='@Url.Action("CreateTxt", "Home", new {output = @output})'"/></p>
</div>






