@using ImageTextExtraction.Controllers
@using ImageTextExtraction.Models
@model FileUploadFormModel 



@{
    ViewData["Title"] = "Home Page";
    var output = ViewData["result"];
    var userDoc = ViewData["userDocument"];

    
}


<div class="text-center">
    <h1 class="display-4">Image Text Extraction Utility</h1>
    <h2>Simply upload your image below to get started...</h2>
</div>
<hr />

<form enctype="multipart/form-data" method="post">
    <dl>
        <dt>
            <label asp-for="@Model.FormFile"></label>
        </dt>
        <dd>
            <input asp-for="@Model.FormFile" type="file" class="button"/>
        </dd>
    </dl>
    <input asp-page-handler="UploadImage" class="button" type="submit" value="Upload" name="uploadImage" /> <p><b>Depending on the amount of text, this may take a few moments...</b></p>
 </form>

<hr />


@using (Html.BeginForm("DbCommit", "Home", FormMethod.Post))
{
     <p><label for="textTitle">Give the extraction a title: <input type="text" name="textTitle" value=""/></label></p>
    <textarea name="textBody" rows="10" cols="100" id="display-text">@output</textarea>
    <p><input type="submit" value="Commit to DB" name="commitDb" class="button" /></p>
}

<br />

<div class="buttonContainer">
    <label>Export to Document:</label>
    <p></p>
    <p><input type="submit" value="Export to .pdf" id="exportPDF" class="button" onclick="location.href='@Url.Action("CreatePdf", "Home", new {output = @output})'"/></p>
    <p><input type="submit" value="Export to .txt" id="exportDOCX" class="button" onclick="location.href='@Url.Action("CreateTxt", "Home", new {output = @output})'"/></p>
</div>







